html {
  scroll-behavior: smooth;
}

.partners_bg {
  background-image: url(../../assets/images/png/partners_bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.adv .video_btn {
  /* background-color: white !important; */
  color: #e50a14;
  border-radius: 4px;
}

.adv .video_btn,
.adv .article_btn {
  background-color: #313131;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.adv .active-tab {
  background-color: #e50a14 !important;
  color: #fff !important;
  border: none !important;
}

/* .timeline {
  position: relative;
  margin: 50px 0;
  padding: 0 20px;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 4px;
  background: linear-gradient(180deg, #e50a14, #e50a14, #2196f3, #ff9800);
  background-size: 400% 400%;
  animation: gradientAnimation 6s infinite;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timeline-item {
  position: relative;
  margin: 180px;

  text-align: center;
}

.timeline-item:nth-child(odd) {
  text-align: right;
}

.timeline-item:nth-child(even) {
  text-align: left;
}

.timeline-item .timeline-content {
  position: relative;
  width: 45%;
  z-index: 2;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 55%;
}

.timeline-item .icon-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}
.icon-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}

.timeline-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.timeline-item p {
  font-size: 14px;
  color: #666;
}

.timeline-item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
} */

/* timeline */

.timeline {
  position: relative;
  padding: 215px 20px 0 20px;
}

.timeline-div:before {
  content: "";
  position: absolute;
  width: 4px;
  background: #ccc;
  background-size: 400% 400%;
  animation: gradientAnimation 6s infinite;
  top: 0;
  bottom: 0;
  left: 50%;
  height: var(--timeline-div-before-height, 0);
  transform: translateX(-50%);
}

.timeline:after {
  content: "";
  position: absolute;
  width: 4px;
  background: linear-gradient(180deg, #e50a14, #e50a14, #2196f3, #ff9800);
  background-size: 400% 400%;
  animation: gradientAnimation 6s infinite;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--timeline-before-height, 0);
  transition: height 0.2s ease-out;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 4px;
  background: #ccc;
  background-size: 400% 400%;
  animation: gradientAnimation 6s infinite;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timeline-item {
  position: relative;
  padding-bottom: 180px;
  text-align: center;
  z-index: 1;
}

.timeline-item:nth-child(odd) {
  text-align: right;
}

.timeline-item:nth-child(even) {
  text-align: left;
}

.timeline-item .timeline-content {
  position: relative;
  width: 45%;
  z-index: 2;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 55%;
}

.timeline-item .icon-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}
.icon-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}

.timeline-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.timeline-item p {
  font-size: 14px;
  color: #666;
}

.timeline-item:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;
}

.custom_textColor {
  color: rgb(226, 102, 102) !important;
}

.fs_54 {
  font-size: 54px !important;
}
