.skilling_bg {
  background-image: url(../../assets/images/png/skilling_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.partners_bg {
  background-image: url(../../assets/images/png/partners_bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.list_type {
  list-style-type: disc !important; /* डॉट्स को दिखाने के लिए 'disc' का उपयोग करें */
}

.custom_AchievementSection_margin {
  margin-top: -240px !important;
}

.animatica_slider .slick-dots li button:before {
  font-size: 17px !important;
  color: #ccc !important;
}

.animatica_slider .slick-dots li.slick-active button:before {
  color: #fff !important;
}

.animatica_slider .slick-dots {
  bottom: -20px !important;
}

.but {
  background-color: #e50a14 !important;
}

.clr_yellow {
  color: #ffc107 !important;
}
/* 
.jK {
  top: 80px !important;
  left: 140px;
}
.panjab {
  top: 150px !important;
  left: 155px;
}
.Uttarakhand {
  top: 160px !important;
  left: 230px;
}
.UP {
  top: 240px !important;
  left: 260px;
}
.haryana {
  top: 195px !important;
  left: 175px;
}
.bihar {
  top: 275px !important;
  left: 385px;
}
.Rajasthan {
  top: 245px !important;
  left: 125px;
}
.Gujarat {
  top: 330px !important;
  left: 85px;
}
.MP {
  top: 335px !important;
  left: 215px;
}
.Maharashtra {
  top: 415px !important;
  left: 165px;
}

.state-info-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
} */

.state-icon + .state-info-box {
  opacity: 0;
  visibility: hidden;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
}

.state-icon:hover + .state-info-box {
  opacity: 1;
  visibility: visible;
  display: block;
}

.state-info-box .visible {
  display: block;
}

.visible-opacity {
  opacity: 1 !important;
}

.state-info-box {
  background-color: #ffffffa2;
  border: 2px solid #ccc;
  /* padding: 5px; */
  margin-top: 8px;
  text-align: center;
  box-shadow: 0px 4px 4.4px 1px #00000040;
  border-radius: 1px !important;

  width: 250px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  /* Ensure initial state matches transition properties */
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 600ms ease-in-out;
}

.cursor-pointer {
  cursor: pointer !important;
}

@media (max-width: 576px) {
  .state-icon[data-location="Haryana"] {
    top: 70px !important;
    left: 20%;
  }
  .state-info-box {
    background-color: #ffffffa2;
    border: 2px solid #ccc;
    /* padding: 5px; */
    margin-top: 8px;
    text-align: center;
    box-shadow: 0px 4px 4.4px 1px #00000040;
    border-radius: 1px !important;

    width: 150px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    /* Ensure initial state matches transition properties */
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 600ms ease-in-out;
  }
}
